body {
    background-color: #e8e3d9;
    font-family: 'Merriweather', serif;
    color: #2b2b2b;
}
header,
main,
footer {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
    font-size: 1.1em;
}
h2 {
    text-align: left;
    font-size: 2em;
    font-weight: 900;
}
h3 {
    text-align: left;
}
p {
    font-size: 1.08em;
    line-height: 1.6em;
}
h1 {
    text-align: left;
    font-size: 4em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.navbar {
    margin-bottom: 0;
    position: fixed;
}
.navbar-default {
    background-color: #e8e3d9;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #2b2b2b;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #517d4b;
    color: #e8e3d9;
}
a.navbar-brand {
    padding-top: 0;
}
.navbar-brand img {
    background-image: url(/images/assets/logo/logo-background.jpg);
    border-bottom:  5px solid #aba494;
    border-right:  5px solid #aba494;
    border-left:  5px solid #aba494;
}

/*--Carousel--*/
.carousel {
    margin-top: 50px;
}
.carousel-control {
    padding-top: 20px;
    width: 5%;
}
.carousel-caption {
    left: 25%;
    right: 25%;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
    background-color: rgba(5, 29, 73, 0.6);
}
.carousel-caption h2 {
    padding-bottom: 15px;
}
.caption-2 {
    left: 25%;
    right: 25%;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-bottom: 0;
    background-color: rgba(20, 63, 14, 0.6);
}
/*
}
.carousel-caption {
    top: 10px;
    right: 10px;
    left: 30%;
    bottom: 30%;
    padding-right: 50px;
    text-shadow: none;
    color: #fff; 
}
.carousel-caption h3 {
    text-align: right;
    font-size: 1.3em;
    text-transform: uppercase;
}
.carousel-caption h2 {
    text-align: right;
    margin-top: 0;
    padding-top: 15px;
}
*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

/*--Main--*/
main {
    width: 100%;
    background-image: url(images/assets/wood4_edited_2.jpg);
    background-repeat: repeat;
    background-color: white;
    margin: 0 auto;
}
main .container-fluid {
    width: 80%;
    background-color: white;
}

main .bodyText {
    padding: 35px;
}
main p:nth-child(2) {
    margin-top: 15px;
}
main .sidebar {
    padding: 35px;
    background-color: #f9f4ec;
}
main .sidebar .btn {
    width: 100%;
    padding: 10px 0;
    font-size: 1em;
    border: none;
    border-radius: 0;
    background-color: #517d4b;
    color: #fff;
}
main .sidebar hr {
    border-color: #cecac0;
}

/*Youtube Embed*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#TA_cdsratingsonlynarrow283 {
    margin: 35px;
}
.trip-advisor {
    width: 100%;
}

blockquote {
    font-style: italic;
    font-size: 1.5em;
    color: green;
}
.home blockquote{
    padding-right: 2em;
}
#how-it-works blockquote {
    width: 200px;
    border: 1px solid green;
    margin-right: 10px;
}#what-you-need blockquote {
    width: 200px;
    border: 1px solid green;
    margin-right: 10px;
}
.carousel-inner img {
    width: 100%;
}

/*-- Photo Gallery --*/
.photo-gallery .carousel {
    margin-top: 15px;
}
.photo-gallery .col-xs-4 {
    padding: 2px;
}
.photo-gallery .well {
    padding: 0;
    background-color: transparent;
    border: none;
}
main .nav-tabs li {
    border: 1px solid white;
    border-bottom: 0;
    border-top: 0;
    background-color: #517d4b;
}
main .nav-tabs li.active a {
    background-color: white;
}
.tab-pane {
    padding: 2em;
    max-width: 800px
}
.tab-pane img {
    float: left;
    margin-right: 3em;
    height: 15em;
}

/*-- FOOTER --*/

footer {
    background-color: #e8e3d9;
    color: #7e7564;
    border-top: 2px solid #517d4b;
    padding-top: 25px;
}
footer h3 {
    text-align: center;
    font-size: 2.5em;
    margin:0
}
footer h4 {
    text-align: center;
    font-size: 1.5em;
}
footer a {
    color: #7e7564;
    font-size: 1em;
}
footer a:hover {
    color: #517d4b;
    text-decoration: none;
}
footer p {
    font-size: .9em;
}
#permitee {
    text-align: right;
    font-size: .9em;
}
figure.bio{
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;
    height: 250px;
    box-shadow: 1px 1px 1px #999;
}
#ellerstein{
    height: 350px;
}
figure.bio img{
    height: 200px;
    margin-top: 20px;
    float: right
}

@media (max-width: 992px) {
    h3 {
        font-size: 2em;
}
@media (max-width: 768px) {
    .carousel-caption {
        left: 12%;
        right: 12%;
        margin-bottom: 0;
    }
    .carousel h2 {
        font-size: 1.5em;
    }
    .carousel h3 {
        font-size: 1em;
    }
    .carousel h2, .carousel h3 {
        padding-right: 15px;
        text-align: center;
    }
    footer p, #permitee {
        text-align: center;
    }
}