body {
    background-color: #e8e3d9;
}
header,
main,
footer {
    margin-left: auto;
    margin-right: auto;
}
a {
    color: black;
    font-size: 1.2em;
}
h2 {
    text-align: left;
    font-size: 2em;
}
h3 {
    text-align: left;
}
p {
    font-size: 1.2em;
}
h1 {
    text-align: left;
    font-family: serif;
    font-size: 4em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.navbar {
    margin-bottom: 0;
    position: fixed;
}
.navbar-default {
    background-color: #e8e3d9;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #517d4b;
    color: #e8e3d9;
}

/*--Carousel--*/
.carousel {
    margin-top: 50px;
}
.carousel-control {
  padding-top: 20px;
  width: 5%;
}
.carousel-caption {
    padding-right: 25px;
    margin-bottom: 100px;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    text-shadow: none;
    color: #000;
}
.carousel-caption h3 {
    text-align: right;
}
.carousel-caption h4 {
    text-align: right;
}

/*--Main--*/
main {
    width: 100%;
    background-image: url(images/assets/wood4_edited_2.jpg);
    background-repeat: repeat;
    background-color: white;
    margin: 0 auto;
}
main .container-fluid {
    width: 80%;
    background-color: white;
}

main .bodyText {
    padding: 35px;
}
main p:nth-child(2) {
    margin-top: 15px;
}
main .sidebar {
    padding: 35px;
    background-color: #f9f4ec;
}
main .sidebar .btn {
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #517d4b;
    color: #fff;
}
main .sidebar hr {
    border-color: #cecac0;
}

/*Youtube Embed*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#TA_cdsratingsonlynarrow283 {
    margin: 35px;
}

blockquote {
    font-style: italic;
    font-size: 1.5em;
    color: green;
}
.home blockquote{
    padding-right: 2em;
}
#how-it-works blockquote {
    width: 200px;
    border: 1px solid green;
    margin-right: 10px;
}#what-you-need blockquote {
    width: 200px;
    border: 1px solid green;
    margin-right: 10px;
}
.carousel-inner img {
    width: 100%;
}
.photo-gallery .col-sm-4 {
    padding: 2px;
}
.photo-gallery .well {
    padding: 0;
    background-color: transparent;
    border: none;
}
main .nav-tabs li {
    border: 1px solid white;
    border-bottom: 0;
    border-top: 0;
    background-color: #517d4b;
}
main .nav-tabs li.active a {
    background-color: white;
}
.tab-pane {
    padding: 2em;
    max-width: 800px
}
.tab-pane img {
    float: left;
    margin-right: 3em;
    height: 15em;
}
footer {
    background-color: #e8e3d9;
    color: black;
    font-family: serif;
    border-top: 2px solid #517d4b;
    padding: 10px;
}
footer h3 {
    text-align: center;
    font-size: 5em;
}
footer h4 {
    text-align: center;
    font-size: 3em;
}
footer a {
    color: black;
    font-size: 1em;
}

}
footer p {
    font-size: 1.6em;
    margin-top: 4em;
    padding-top: 4em;
}
#address {
    margin: 2em;
}
#permitee {
    text-align: right;
    margin: 2em;
    margin-left: 0;
    font-size: 1em;
}
footer img {
    height: 100px;
    width: 100px;
    margin: 20px 50px;
}
figure.bio{
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;
    height: 250px;
    box-shadow: 1px 1px 1px #999;
}
#ellerstein{
    height: 350px;
}
figure.bio img{
    height: 200px;
    margin-top: 20px;
    float: right
}

@media (max-width: 768px) {
    .carousel-caption {
        padding-top: 5px;
        top: 30%;
        padding-left: 15px;
    }
    h2 {
        text-align: center;
        font-size: 1.5em;
    }
}